{% load static %}

<html>
	<head>
		<title>TURBO NEWS</title>
        <link rel="shortcut icon" href="{{STATIC_URL}}static/images/tn.png" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	
	<body>

		<header id="header">
			<div class="inner">
				<a href="{% url 'home-log' %}" class="logo"> Turbo News </a>
				<nav id="nav">
					<a href="{% url 'ficha-tecnica-log' %}"> Ficha Técnica </a>
					<a href="{% url 'elements-log' %}"> Opinião do Dono </a>
					<div class="dropdown-estat">
	                    <a class="dropbtn-estat">Estatísticas </a>	                    
	                    <div class="dropdown-content-estat">
	                        <a href="{% url 'home' %}">Tabela FIPE </a>
                            <a href="{% url 'home' %}">Vendas</a>
	                    </div>
	                </div> 
	                
	                <div class="dropdown">
	                    <a class="dropbtn">Bem-vindo </a>	                    
	                    <div class="dropdown-content">
	                        <a href="{% url 'home' %}">Logout </a>
	                    </div>
	                </div> 
				</nav>
			</div>
		</header>
		
		{# <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a> #}

		{% block content %} 
			{# Conteúdo da página vem aqui #}
		{% endblock %} 

	</body>
</html>