{% extends 'base.html' %}

{% block content %}

    <section id="main">
		<div class="inner">

    		{% if formValido %}
    			<p> Opinião cadastrada </p>
    		{% endif %}

            <form method="POST">

                <div class="co-top">
                    <h3> Escolha o carro </h3>
                    <select name="carro" style="width: 25%; margin-bottom: 3%;">
                        <option> ----- </option>
                        {% for c in carros %}
                            <option> {{c.modelo}} </option>
                        {% endfor %}
                    </select>
                </div>
                
                <section class="container-inline">
                    <div class="box-alt left">
                        <textarea name="opiniao" style="width: 100%; height: 90%;"></textarea>
                    </div>

                    <div class="box-alt right">	
                        <div class="co-box-notas">
                            
                          <strong style="margin-bottom: 5%;">Notas</strong>
                          <div>Estilo</div>

                            <select name="estilo">
                                <option>0</option>
                                <option>1</option> <option>2</option> <option>3</option>
                                <option>4</option> <option>5</option> <option>6</option>
                                <option>7</option> <option>8</option> <option>9</option>
                                <option>10</option>
                              </select>

                            <div>Acabamento</div>

                            <select name="acabamento">
                                <option>0</option>
                                <option>1</option> <option>2</option> <option>3</option>
                                <option>4</option> <option>5</option> <option>6</option>
                                <option>7</option> <option>8</option> <option>9</option>
                                <option>10</option>
                              </select>

                            <div>Interior</div>

                            <select name="interior">
                                <option>0</option>
                                <option>1</option> <option>2</option> <option>3</option>
                                <option>4</option> <option>5</option> <option>6</option>
                                <option>7</option> <option>8</option> <option>9</option>
                                <option>10</option>
                              </select>

                            <div>Desempenho</div>

                            <select name="desempenho">
                                <option>0</option>
                                <option>1</option> <option>2</option> <option>3</option>
                                <option>4</option> <option>5</option> <option>6</option>
                                <option>7</option> <option>8</option> <option>9</option>
                                <option>10</option>
                              </select>

                            <div>Consumo</div>

                            <select name="consumo">
                                <option>0</option>
                                <option>1</option> <option>2</option> <option>3</option>
                                <option>4</option> <option>5</option> <option>6</option>
                                <option>7</option> <option>8</option> <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                    </div>
                </section>

                <button type="submit" name="button" class="co-submit_btn">Submeter</button>
            </form>
                
        </div>
    </section>

{% endblock %}