{% extends 'base.html' %}

{% block content %}

	<section id="main">
		<div class="inner">
			
			<h3> Escolha outro carro </h3>
			<select onchange="location = this.value;" style="width: 25%;">
					<option> -------- </option>
				{% for carros in carros %}
				    <option value="{% url 'elements_details' carros.pk %}"> {{carros.modelo}} </option>
				{% endfor %}
			</select>

			<h1 class="align-center"> {{marca}} {{modelo}} </h1>
				
			<section class="container-inline">
				<div class="box-alt right">
					<ul class="alt">
						<li> <strong> Notas </strong> </li>
						<li> Estilo <span> 10/10 </span> </li>
						<li> Acabemento <span> 9/10 </span> </li>
						<li> Interior <span> 6/10 </span> </li>
						<li> Desempenho <span> 9/10 </span> </li>
						<li> Consumo <span> 7/10 </span> </li>
						<li> <strong> Avaliação geral </strong> <span> 8/10</span> </li>
					</ul>
				</div>
				
				<div class="image auto"> 
					<img src="{{STATIC_URL}}static/images/hb20-donos.jpg" width="720px" height="480px">
				</div>
			</section>
		
			<!-- Opiniões -->
			<h3> Opinião do Dono </h3>
				
			{% for carro, media in opinioes %}

				<section class="container-inline">
					<div class="box-alt left">
						<p> {{carro.opiniao}} </p>
					</div>

					<div class="box-alt right">	
						<ul class="alt">
							<li> <strong> Notas </strong> </li>
							<li> Estilo <span> {{carro.estilo}} /10 </span> </li>
							<li> Acabemento <span> {{carro.acabamento}} /10 </span> </li>
							<li> Interior <span> {{carro.interior}} /10 </span> </li>
							<li> Desempenho <span> {{carro.desempenho}}/10 </span> </li>
							<li> Consumo <span> {{carro.consumo}} /10 </span> </li>
							<li> <strong> Avaliação geral </strong> <span> {{media}} /10</span> </li>
						</ul>
					</div>
				</section>
			
			{% endfor %}

			<div class="container-top-down">
				<h3> Tem um {{modelo}}? </h3>
				<ul class="actions">
					<li><a href="{% url 'cadastro-opiniao' %}" class="button alt"> Dê sua opinião </a></li>
				</ul>
			</div>
			
		</div>
	</section>

{% endblock %}