{% extends 'base.html' %}

{% block content %}

	<section id="main">
		<div class="inner">
			
			<h3> Escolha outro carro </h3>
			<select onchange="location = this.value;" style="width: 25%;">
			    <option value="{% url 'home' %}"> Volvo </option>
			    <option value="{% url 'home' %}"> Saab </option>
			    <option value="{% url 'home' %}"> Opel </option>
			    <option value="{% url 'home' %}"> Audi </option>
			</select>

			<h1 class="align-center"> Hyundai HB20 </h1>
				
			<section class="container-inline">
				<div class="box-alt right">
					<ul class="alt">
						<li> <strong> Notas </strong> </li>
						<li> Estilo <span> 10/10 </span> </li>
						<li> Acabemento <span> 9/10 </span> </li>
						<li> Instrumentos <span> 9/10 </span> </li>
						<li> Interior <span> 6/10 </span> </li>
						<li> Porta-malas <span> 8/10 </span> </li>
						<li> Desempenho <span> 9/10 </span> </li>
						<li> Motor <span> 7/10 </span> </li>
						<li> Câmbio <span> 10/10 </span> </li>
						<li> Freios <span> 9/10 </span> </li>
						<li> Suspensão <span> 10/10 </span> </li>
						<li> Consumo <span> 7/10 </span> </li>
						<li> Estabilidade <span> 10/10 </span> </li>
						<li> <strong> Avaliação geral </strong> <span> 8/10</span> </li>
					</ul>
				</div>
				
				<div class="image auto"> 
					<img src="images/hb20-donos.jpg" width="720px" height="480px">
				</div>
			</section>
		
			<!-- Opiniões -->
			<h3> Opinião do Dono </h3>
				
			<section class="container-inline">
				<div class="box-alt left">
					<ul class="alt">
						<li> <strong> Título </strong> </li>
						<li> bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta </li>
							
						<li> <strong> Prós </strong> </li>
						<li> bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta </li>
							
						<li> <strong> Contras </strong> </li>
						<li> bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta </li>
							
						<li> <strong> Opinião geral </strong> </li>
						<li> bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta  bla bla bla bla me da sua buceta </li>
					</ul>	
				</div>

				<div class="box-alt right">	
					<ul class="alt">
						<li> <strong> Notas </strong> </li>
						<li> Estilo <span> 10/10 </span> </li>
						<li> Acabemento <span> 9/10 </span> </li>
						<li> Instrumentos <span> 9/10 </span> </li>
						<li> Interior <span> 6/10 </span> </li>
						<li> Porta-malas <span> 8/10 </span> </li>
						<li> Desempenho <span> 9/10 </span> </li>
						<li> Motor <span> 7/10 </span> </li>
						<li> Câmbio <span> 10/10 </span> </li>
						<li> Freios <span> 9/10 </span> </li>
						<li> Suspensão <span> 10/10 </span> </li>
						<li> Consumo <span> 7/10 </span> </li>
						<li> Estabilidade <span> 10/10 </span> </li>
						<li> <strong> Avaliação geral </strong> <span> 8/10</span> </li>
					</ul>
				</div>
			</section>

			<div class="container-top-down">
				<h3> Tem um HB20? </h3>
				<ul class="actions">
					<li><a href="{% url 'cadastro-opiniao' %}" class="button alt"> Dê sua opinião </a></li>
				</ul>
			</div>
			
		</div>
	</section>

{% endblock %}