<!DOCTYPE HTML>

<html>
	<head>
		<title>TURBO NEWS</title>
         <link rel="shortcut icon" href="images/tn.png" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">Turbo News</a>
					<nav id="nav">
						<a href="ficha-tecnica.html">Ficha Técnica</a>
						<a href="elements.html">Opinião do Dono</a>
                        <a href="login.html">Login</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

            
<tr>
<td colspan="4" align="left" bgcolor="#ffffff"><font color="darkred" size="5" face="arial"><br>&nbsp;Ficha Técnica: Volvo S90 Inscription T8 2.0</font>
</td>
</tr>
        
<tr>
<table border="0" width="92%">   
    
<br>
    
    <div class="banner-ft">
<img src="images/volvo-banner.jpg" width="1080" height="720">
    </div>

            
            
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Ano</font></td>		<td bgcolor="#ffffff"><a><font face="arial" size="2">2019</font></a></td><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Preço</font></td>			<td bgcolor="#ffffff"><a><font face="arial" size="2">R$ 365.950</font></a><font face="arial" size="2">

</font></td></tr>
<tr>
<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Combustível</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2"><a>Híbrido</a>
</font></td>

<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">IPVA</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">R$ 10.978</font></td>

</tr>

<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Seguro</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">R$ 16.468</font></td><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Revisões</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">Não tem preço fixo</font></td></tr>


<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Procedência</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">Importado</font></td><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Garantia</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">2 anos</font></td></tr>
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Configuração</font></td>	<td bgcolor="#ffffff"><font face="arial" size="2"><a><font face="arial" size="2">Sedã</font></a></font></td><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Porte</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">Grande</font></td></tr>

	<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Lugares</font></td>	<td bgcolor="#ffffff"><font face="arial" size="2">5</font></td>				<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Portas</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">4</font></td></tr>

<tr><td align="left" bgcolor="#ffffff"><font color="darkred" face="arial" size="4">Motor a combustão</font></td><td bgcolor="#ffffff" colspan="3"><font face="arial" size="2"></font></td></tr>
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Potência</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">320 cv </font></td>		<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Torque</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">40,8 kgfm </font></td></tr>

	<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Peso/potência</font></td>			<td bgcolor="#ffffff"><a><font face="arial" size="2">6,35</font></a><font face="arial" size="2"> kg/cv</font></td><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Peso/torque</font></td>				<td bgcolor="#ffffff"><a><font face="arial" size="2">49,78</font></a><font face="arial" size="2"> kg/kgfm</font></td></tr>
    
    <tr><td align="left" bgcolor="#ffffff"><font color="darkred" face="arial" size="4">Motor elétrico</font></td><td bgcolor="#ffffff" colspan="3"><font face="arial" size="2"></font></td></tr>
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Potência</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">87 cv </font></td>		<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Torque</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">24,5 kgfm </font></td></tr>
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Potência combinada</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">407 cv </font></td>		<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Torque combinado</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">65,3 kgfm </font></td></tr>


<tr><td align="left" bgcolor="#ffffff"><font color="darkred" face="arial" size="4">Transmissão</font></td><td bgcolor="#ffffff" colspan="3"></td></tr>
	
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Tração</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2"><a>Integral</a></font></td>		<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Câmbio</font></td>				
	<td bgcolor="#ffffff"><a><font face="arial" size="2">Automático</font></a><font face="arial" size="2">
	 
		de 8 marchas 
	</font></td></tr>

<tr><td align="left" bgcolor="#ffffff"><font color="darkred" face="arial" size="4">Suspensão</font></td><td bgcolor="#ffffff" colspan="3"></td></tr>
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Dianteira</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">Independente, braços sobrepostos</font></td><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Elemento elástico</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">Mola helicoidal</font></td></tr>
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Traseira</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">Independente, multibraço</font></td><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Elemento elástico</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">Mola pneumática</font></td></tr>

<tr><td align="left" bgcolor="#ffffff"><font color="darkred" face="arial" size="4">Freios</font></td><td bgcolor="#ffffff" colspan="3"></td></tr>
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Dianteiros</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">Disco ventilado</font></td>			<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Traseiros</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">Disco ventilado</font></td></tr>

<tr><td align="left" bgcolor="#ffffff"><font color="darkred" face="arial" size="4">Direção</font></td><td bgcolor="#ffffff" colspan="3"></td></tr>
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Assistência</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">Elétrica</font></td>			<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Pneus dianteiros</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">245/40 R20</font></td>  </tr>
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Diâmetro mínimo de giro</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">11,8 m</font></td>			<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Pneus traseiros</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">245/40 R20</font></td></tr>

<tr><td align="left" bgcolor="#ffffff"><font color="darkred" face="arial" size="4">Dimensões</font></td><td bgcolor="#ffffff" colspan="3"></td></tr>
	
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Comprimento</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">4963 mm</font></td>			<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Largura</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">1879 mm</font></td></tr>
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Distância entre-eixos</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">2941 mm</font></td>					<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Altura</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">1443 mm</font></td></tr>

<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Bitola dianteira</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">1623 mm</font></td>		<td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Bitola traseira</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">1624 mm</font></td>	</tr>

<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Porta-malas </font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">500 litros</font></td>			</tr>

<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Peso</font></td>			<td bgcolor="#ffffff"><font face="arial" size="2">2031 kg</font></td><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2"></font></td>				</tr>

<tr><td align="left" bgcolor="#ffffff"><font color="darkred" face="arial" size="4">Desempenho</font></td><td bgcolor="#ffffff" colspan="3"></td></tr>
<tr><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Velocidade máxima</font></td>		<td bgcolor="#ffffff"><font face="arial" size="2">250 km/h</font></td><td align="right" bgcolor="#ffffff"><font color="darkred" face="arial" size="2">Aceleração 0-100 km/h</font></td>	<td bgcolor="#ffffff"><font face="arial" size="2">5,1 s</font></td> </tr>


<!-- Equipamentos -->
            
<br>

<tr>
<td colspan="4" align="left" bgcolor="#ffffff"><font color="darkred" size="5" face="arial"><br>&nbsp;Equipamentos</font>
</td>
</tr>

<tr>
<td colspan="4" align="left" bgcolor="#ffffff" height="50"><font color="darkred" size="4" face="arial">&nbsp;Segurança</font>
</td>
</tr>

<tr>


<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Freios ABS</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Airbags frontais</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Airbags laterais</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Airbags de cortina</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Alarme antifurto perimétrico</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Câmera traseira para manobras</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Câmeras para visão de 360 graus</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Cintos de três pontos para todos os ocupantes</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Controle de estabilidade</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Controle de tração</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Faróis de xenônio</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Faróis com refletores duplos</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Faróis de neblina</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Limpador e lavador do vidro traseiro</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Luz traseira de neblina</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Repetidores laterais das luzes de direção</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Travamento central das portas</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Luzes de condução diurna</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Desembaçador do vidro traseiro</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">ISOFIX</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Alerta de colisão frontal</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Alerta de tráfego cruzado traseiro</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Monitoramento da pressão dos pneus</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Assistente de partida em rampa</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Sensores de estacionamento traseiro</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Faróis com regulagem de altura</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Alerta de ponto cego</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Alerta de mudança de faixa</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Assistente de permanência na faixa</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Frenagem automática de emergência</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Chamada de assistência de emergência</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Assistência na recuperação veicular</font></td>

</tr>
    
<tr>
<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">
</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Vetorização de torque</font></td>
</tr>

<tr>

</tr><tr>
<td colspan="4" align="left" bgcolor="#ffffff" height="50"><font color="darkred" size="4" face="arial">&nbsp;Conforto</font>
</td>
</tr>




<tr><td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Ar-condicionado</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Ar-condicionado automático</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><font color="black" size="2" face="arial"><img src="images/verde.gif" title="Equipamento de série"></font></td>
<td align="left" bgcolor="#ffffff" valign="center"><font color="black" size="2" face="arial">Zonas de ar-condicionado: 4</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Ar quente</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Direção assistida</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Banco do motorista com ajuste de altura</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Apoio de braço para o motorista</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Câmbio automático</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Ajuste do volante em altura</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Ajuste do volante em profundidade</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Ajuste elétrico dos retrovisores</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Controle automático de velocidade</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Bancos revestidos em couro</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Controle elétrico dos vidros dianteiros</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Controle elétrico dos vidros traseiros</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Faróis com acendimento automático</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Limpador de para-brisa automático</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Rodas de liga leve</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Banco traseiro bipartido</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Banco traseiro rebatível</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Comando interno do porta-malas</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Luz no porta-malas</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Luz no porta-luvas</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Comando interno da tampa do tanque</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Chave presencial</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Alças de segurança no teto</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Retrovisores rebativeis eletricamente</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Recuperação de energia cinética</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Acionamento remoto do motor</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Freio de estacionamento elétrico</font></td>
    
</tr>
    
<tr>
<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">
</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Auto Hold</font></td>
<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">
</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Tampa traseira motorizada</font></td>
</tr>    
    
<tr>

</tr><tr>
<td colspan="4" align="left" bgcolor="#ffffff" height="50"><font color="darkred" size="4" face="arial">&nbsp;Infotenimento</font>
</td>
</tr>




<tr><td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Rádio</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Conexão USB</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Conexão Bluetooth</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Volante multifuncional</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Computador de bordo</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Indicador de temperatura externa</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Espelhamento da tela do celular</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Carregador de celular sem fio</font></td>

</tr><tr>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Serviço de concierge</font></td>

<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">

</td>
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Informação de trânsito em tempo real</font></td>
    
</tr>
   
<tr>
<td align="right" bgcolor="#ffffff"><img src="images/verde.gif" title="Equipamento de série">    
<td align="left" bgcolor="#ffffff" valign="top"><font color="black" size="2" face="arial">Head-up display</font></td>
</tr>

<tr>

</tr>
    </table>
        </tr>

<tr>
<td align="center" colspan="5"><font color="black" size="2" face="arial">
&nbsp;&nbsp;Legenda: <img src="images/verde.gif" title="Equipamento de série">&nbsp;Equipamento de série&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/amar.gif" align="baseline" title="Equipamento opcional">&nbsp;Equipamento opcional
</font></td>
</tr>

    </body>
</html>