{% extends 'base.html'%}

{% block content %}

<section id="main">
		<div class="inner">
    
    <br>
        
        <div class="form-group row">
            <div class="col-4">
                <label>Buscar Carros</label>
                <input class="form-control" type="text">
				<button type="submit" name="button" class="button">Buscar</button>
            </div>
        </div>
        

    <br>

        <div class="ficha">
            <font size="2" face="arial"><a href="{% url 'ficha-bolt' %}"><img src="{{STATIC_URL}}static/images/bolt.jpg" title="Ficha técnica, equipamentos e fotos do Chevrolet Premier"height="250" width="350"></a></font>
              
            
            <font size="2" face="arial">
                <a href="{% url 'ficha-bolt' %}" title="Chevrolet Bolt Premier">
                    <font size="5" color="gray">  <b> Chevrolet Bolt Premier</b></font>
                </a>

                <font size="2" color="gray">
                    <font size="3" color="darkred">
                        <font size="2" color="gray"></font>
                        <font size="5" color="gray">2019 </font>
                        <font size="5" color="darkblue"> <b>0 km</b> </font>
                    </font>
                </font>  
            </font>
        </div>
           

      <!-- CARRO 2 -->

    <div class="ficha" style="border:1px solid black">
              <font size="2" face="arial"><a href="{% url 'ficha-volvo'%}">
                <img src="{{STATIC_URL}}static/images/volvo-s90.jpg" title="Ficha técnica, equipamentos e fotos do Volvo Inscription T8 2.0" height="250" width="350"></a>
              </font>
              
                  <font size="2" face="arial"><a href="{% url 'ficha-volvo'%}" title="Volvo Inscription T8 2.0">
                  <font class="ml-4" size="5" color="gray"><b>Volvo
                  <font size="5">S90 Inscription T8 2.0
                  </font></b></font></a><font size="2" color="gray"><font size="3" color="darkred"><font size="2" color="gray">
                  </font>
                  <font size="5" color="gray">2019</font>
                  <font size="5" color="darkblue"><b>0 km</b></font>
              </font></font></font>  	
            </div>

      <!-- CARRO 3 -->  
    
   <div class="ficha" style="border:1px solid black">
          <font size="2" face="arial"><a href="{% url 'ficha-leaf'%}"><img src="{{STATIC_URL}}static/images/leaf.jpg" title="Ficha técnica, equipamentos e fotos do Nissan Leaf ZE" vspace="0" border="0" height="250" width="350"></a></font></td>
              <font size="2" face="arial"><a href="{% url 'ficha-leaf'%}" title="Nissan Leaf ZE">
              <font class="ml-4" size="5" color="gray"><b>Nissan
              <font size="5">Leaf ZE
              </font></b></font></a><font size="2" color="gray"><font size="3" color="darkred"><font size="2" color="gray">
              </font>
              <font size="5" color="gray">2019</font>
              <font size="5" color="darkblue"><b>0 km</b></font>
          </font></font></font>
    </div>
</section>


{% endblock %}