{% extends 'base.html' %}

{% block content %}

	<label> Buscar Segmento </label>
	<input class="form-control" id="filtro" type="text">
	<button type="submit" id="updateButton" class="btn login_btn"> Pesquisar </button>

	<div id="grafico-container"> </div>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#updateButton").on("click", function(){

				var segmento = $("#filtro").val();

				req = $.ajax({
					url : "/grafico-vendas",
					type : "POST",
					data : {segmento : segmento}
				});

				req.done(function(data){
					FusionCharts.ready(function () {
					    var myChart = new FusionCharts({
					        
					        type: 'column2d',
					        renderAt: 'grafico-container',
					        dataFormat: 'json',
					        dataSource: {
					            chart: {
					                caption: "Vendas",
							        xAxisName: "Data",
							        yAxisName: "Vendas",
							        theme: "fusion"
					            },
					            
					            data: data['vendas']
					        }
					    });

					    myChart.render();
					});

				});
			});
		});
	</script>

{% endblock %}