{% extends 'base.html' %}

{% block usuario %}

	{% if logado %}
		<div class="dropdown">
		    <a class="dropbtn">Bem-vindo </a>	                    
		
		    <div class="dropdown-content">
		        <a href="{% url 'home' %}"> Logout </a>
		    </div>
		</div>

	{% else %}
 
		<a href="{% url 'login' %}"> Login </a>
	{% endif %}

{% endblock %}

{% block content %}

<section id="main">
		<div class="inner">
            

	<label> Buscar Segmento </label>
	<input class="form-control" id="segmento" type="text">
	<button type="submit" id="updateButton" class="btn login_btn"> Pesquisar </button>
            
    <label> Fitrar por Marca </label>
	<input class="form-control" id="marca" type="text">
            
        

	<div id="grafico-container"> </div>
            
    </div>
</section>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#updateButton").on("click", function(){

				var marca = $("#marca").val();
                var segmento = $("#segmento").val();

				req = $.ajax({
					url : "/grafico-vendas",
					type : "POST",
					data : {segmento : segmento, marca : marca}
				});

				req.done(function(data){
					FusionCharts.ready(function () {
					    var myChart = new FusionCharts({
					        
					        type: 'column2d',
					        renderAt: 'grafico-container',
					        dataFormat: 'json',
					        dataSource: {
					            chart: {
					                caption: "Vendas",
							        xAxisName: "Data",
							        yAxisName: "Vendas",
							        theme: "fusion"
					            },
					            
					            data: data['vendas']
					        }
					    });

					    myChart.render();
					});

				});
			});
		});
	</script>

{% endblock %}