{% extends 'base.html' %}

{% block content %}

<div style="text-align: center; margin-left: 25%; margin-right: 25%">
   
    <section id="main">
		<div class="inner" style="border: solid 1px; padding: 20px; background-color: #111; border-radius: 25px">
            
	<label style="font-size: 23px">Buscar Carros</label>
	<input class="form-control" id="filtro" type="text" style="background-color: white">
	<button type="submit" id="updateButton" class="btn login_btn" style="background-color: darkred"> Pesquisar </button>

       <br><br>     
            
	<div id="grafico-container"> </div>
            
        </div>
</section>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#updateButton").on("click", function(){

				var modelo = $("#filtro").val();

				req = $.ajax({
					url : "/grafico-preco",
					type : "POST",
					data : {modelo : modelo}
				});

				req.done(function(data){
					FusionCharts.ready(function () {
					    var myChart = new FusionCharts({
					        
					        type: 'line',
					        renderAt: 'grafico-container',
					        dataFormat: 'json',
					        dataSource: {
					            chart: {
					                caption: "Tabela FIPE",
							        xAxisName: "Data",
							        yAxisName: "Preço",
							        theme: "fusion"
					            },
					            
					            data:[
					            {
					                label: "Fevereiro",
					                value: data['precos'][0]
					            },
					            {
					                label: "Março",
					                value: data['precos'][1]
					            },
					            {
					                label: "Abril",
					                value: data['precos'][2]
					            },
					            {
					                label: "Maio",
					                value: data['precos'][3]
					            },
					            {
					                label: "Junho",
					                value: data['precos'][4]
					            }]
					        }
					    });

					    myChart.render();
					});

				});
			});
		});
            </script>

</div>
        
{% endblock %}