{% extends 'base.html' %}

{% block content %}

<div style="text-align: center; margin-left: 25%; margin-right: 25%">

	<section id="main">
		<div class="inner" style="border: solid 1px; padding: 20px; background-color: #111; border-radius: 25px">
			<label style="font-size: 20px"> Buscar Segmento </label>
			<input class="form-control" id="segmento" type="text", style="background-color: white">
			<button type="submit" id="updateButton" class="btn login_btn" style="background-color: darkred"> Pesquisar </button>
            
            <br>
            <br>
		            
		    <label style="font-size: 20px"> Fitrar por Marca </label>
			<input class="form-control" id="marca" type="text" style="background-color: white">
            <button type="submit" id="filterButton" class="btn login_btn" style="background-color: darkred"> Filtrar </button>
    
    <br><br>

	<div id="grafico-container"> </div>
            
        </div>        
    </section>

	<script type="text/javascript">
		$(document).ready(function(){
            
            $("#filterButton").on("click", function(){
                
                var segmento = $("#segmento").val();
				var marca = $("#marca").val();

                data = {segmento : segmento, marca : marca}

				req = $.ajax({
					url : "/grafico-vendas",
					type : "POST",
					data : data
				});

				req.done(function(data){
					FusionCharts.ready(function () {
					    var myChart = new FusionCharts({
					        
					        type: 'column2d',
					        renderAt: 'grafico-container',
					        dataFormat: 'json',
					        dataSource: {
					            chart: {
					                caption: "Vendas",
							        xAxisName: "Data",
							        yAxisName: "Vendas",
							        theme: "fusion"
					            },
					            
					            data: data['vendas']
					        }
					    });

					    myChart.render();
					});
                
                });
                
            });
                            

            
			$("#updateButton").on("click", function(){

                var segmento = $("#segmento").val();

                data = {segmento: segmento}

				req = $.ajax({
					url : "/grafico-vendas",
					type : "POST",
					data : data
				});

				req.done(function(data){
					FusionCharts.ready(function () {
					    var myChart = new FusionCharts({
					        
					        type: 'column2d',
					        renderAt: 'grafico-container',
					        dataFormat: 'json',
					        dataSource: {
					            chart: {
					                caption: "Vendas",
							        xAxisName: "Data",
							        yAxisName: "Vendas",
							        theme: "fusion"
					            },
					            
					            data: data['vendas']
					        }
					    });

					    myChart.render();
					});

				});
			});
		});
	</script>
    
</div>

{% endblock %}