{% extends 'base.html' %}

{% block usuario %}

	{% if logado %}
		<div class="dropdown">
		    <a class="dropbtn">Bem-vindo </a>	                    
		
		    <div class="dropdown-content">
		        <a href="{% url 'home' %}"> Logout </a>
		    </div>
		</div>

	{% else %}
 
		<a href="{% url 'login' %}"> Login </a>
	{% endif %}

{% endblock %}

{% block content %}

			<section id="main" >
				<div class="inner">
					<header class="major special">
						<h1>NOVO HONDA HR-V TOURING</h1>
						<p>O SUV compacto vem equipado com motor 1.5 Turbo e teto solar.</p>
					</header>
					<a class="image fit"><img src="{{STATIC_URL}}static/images/hrv-noticia.jpg" alt="" /></a>
					<p>O HR-V é o sétimo carro mais comprado do mundo. Feito com base na plataforma estendida do Fit, o SUV do segmento B concorre com modelos como o Jeep Renegade e Nissan Kicks, tendo a seu favor argumentos bem racionais, como o espaço generoso, os 448 litros de capacidade do porta-malas e a versatilidade, com o famoso banco traseiro “mágico” que permite erguer o assento na vertical e colocar lá objetos bem altos.</p>
					<p>Esse posicionamento racional tem sido o segredo do sucesso de um modelo que, na primeira geração estava tão à frente da concorrência que ninguém sabia como o classificar. Seria uma perua alta ou um crossover baixo? Seja como for, sempre teve a dinâmica ao seu favor. Só faltava um pouco mais de pimenta, por mais que o casamento entre o 1.8 e o CVT seja dos mais felizes.</p>
					<p>Eis que entra o motor 1.5 turbo do Civic Touring. Confirmada no Salão de São Paulo, a configuração vai repetir o sobrenome Touring adotado pelo antigo modelo top de linha, mas o lançamento no Brasil será apenas em meados desse ano, por volta de julho. O preço vai ficar bem acima dos R$ 108.500 cobrados pelo EXL atual, mas esperamos que não chegue tão perto dos R$ 128.500 cobrados pelo Civic Touring.</p>
                    <a class="image fit"><img src="{{STATIC_URL}}static/images/hrv-noticia2.jpg" alt="" /></a>
                    <p>O propulsor de quatro cilindros entrega 182 cv e 24,5 kgfm de torque, números bem superiores aos 139/140 cv (etanol e gasolina) e 17,4/17,3 kgfm a partir de 4.800 rpm (5.000 rpm com gasolina). Na Europa, a motorização foi associada ao nome Sport, com estilo mais arrojado e câmbio manual de seis marchas, que não será adotado no HR-V nacional.</p>
				</div>

				<div class="inner">
                    <h3>Comentários</h3>
                </div>
                
				{% for c in comentarios %}
					<div class="inner" style="border-top: solid 1px; padding-top: 20px">
						<strong> {{ c.usuario }} </strong>
						<p> {{ c.comentario }} </p>
					</div>
				
				{% endfor %}

				<div class="inner" style="border-top: solid 1px; padding-top: 20px">
				<h3> Deixe aqui seu comentário! </h3>
					<form method="POST">
					{% csrf_token %}

						<div>
							<textarea name="comentario" style="width: 60%; height: 40%;"></textarea>
						</div>
						
						<br> <input type="submit" placeholder="submeter">
					</form>
                </div>
				
			</section>

{% endblock %}