{% extends 'base.html' %}

{% block content %}
		<!-- Main -->
			<section id="main" >
				<div class="inner">
					<header class="major special">
						<h1>NOVO COROLLA 2020</h1>
						<p>Nova versão tráz um visual mais ousado, motor híbrido e chega no fim do ano</p>
					</header>
					<a class="image fit"><img src="{{STATIC_URL}}static/images/corolla-noticia.jpg" alt="novo toyota corolla" width="" height="550" /> </a>
					<p>A nova geração do Toyota Corolla trocará de plataforma, adotando a base modular TNGA, usada também por Prius, C-HR, Camry e o novo RAV4. Ela não mexerá tanto assim nas medidas do sedã, que crescerá de 4,62 metros para 4,63 m, enquanto a largura passará de 1,77 m para 1,78 m. O entre-eixos manterá os 2,70 m. Também ficará mais baixo, reduzindo de 1,47 m para 1,43 m. Até o porta-malas é praticamente igual, com 471 litros (o atual conta com 470 l).
                    </p>
                    <p>Ainda assim, o novo Corolla será um carro bem mais confortável. A plataforma melhora o aspecto dinâmico do sedã e ele passa a ser equipado com suspensão multilink na traseira, descartando o eixo de torção do modelo atual. Lá fora, ele ainda é vendido com suspensão adaptativa com seis modos pré-determinados. Por fim, o isolamento acústico foi reforçado, principalmente para o cofre do motor, garantindo maior silêncio a bordo.
                    </p>
                    <a class="image fit"><img src="{{STATIC_URL}}static/images/corolla-noticia2.jpg" alt="novo toyota corolla" width="" height="550" /> </a>
                    <p>Uma das mudanças na motorização do novo Corolla será o fim do motor 1.8. É algo esperado, já que o 1.8 está cada vez mais de lado na linha atual do sedã, oferecido somente na versão GLi, com banco de tecido ou de couro – por R$ 79.990 e R$ 90.990, respectivamente. Já não é tão procurado assim, uma vez que o cliente do sedã médio vai direto para a versão 2.0, que também vem mais equipada.
                    </p>
                    <p>O Corolla ainda terá uma versão 1.8, mas ela será híbrida. É o mesmo conjunto utilizado no Prius, que combina o motor a combustão e outro elétrico, com 122 cv. Ele foi adaptado para aceitar também etanol, fazendo com que o Corolla seja o primeiro híbrido flex do mundo – até foi apresentado pela fabricante, quando confirmaram a data de estreia.
                    </p>
                    <p>O novo Toyota Corolla estará nas lojas no último trimestre do ano, com apresentação marcada para outubro. Esta janela de lançamento já foi confirmada pela fabricante. É mais cedo do que esperávamos, uma vez que a marca tinha a tradição de apresentar o sedã em março - o que o levaria para 2020.
                    O preço é o maior mistério envolvendo o Corolla. Se seguir a tabela de preços da geração atual e os valores praticados por seus rivais, o sedã deve ter valor inicial por volta dos R$ 100 mil. Pode até ser um pouco mais alto, já que o Corolla XEi 2.0 CVT, justamente o modelo mais vendido, custa R$ 105.990. Na versão híbrida, que terá o conjunto motriz importado, o valor deve subir até passar a barreira dos R$ 120 mil. Vale lembrar que o Prius é vendido por R$ 125.450.</p>
				</div>

				{% for c in comentarios %}
				
					<div class="inner">
						<strong> {{ c.usuario }} </strong>
						<p> {{ c.comentario }} </p>
					</div>
				
				{% endfor %}

				<div class="inner">
				<h3> Deixe aqui seu comentário! </h3>
					<form method="POST">
					{% csrf_token %}

						<div>
							<textarea name="comentario" style="width: 60%; height: 40%;"></textarea>
						</div>
						
						<br> <input type="submit" placeholder="submeter">
					</form>
				
				</div>
			</section>

{% endblock %}